<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="debug"
        internalLogFile="c:/Logs/internal-nlog.txt">


	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- define log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="ERROR" fileName="C:/Logs/WK/ERROR/${shortdate}/nlogdata.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		<target xsi:type="File" name="TRACE" fileName="C:/Logs/WK/TRACE/${shortdate}/nlogdata.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		<target xsi:type="File" name="INFOR" fileName="C:/Logs/WK/INFOR/${shortdate}/nlogdata.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
		<!--<logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="TRACE" />-->
		<logger name="*" levels="Error" writeTo="ERROR" />
		<logger name="*" levels="Trace" writeTo="TRACE" />
		<logger name="*" levels="Info" writeTo="INFOR" />
	</rules>
</nlog>